/FarolitoAPIs/FarolitoAPIs/obj
/FarolitoAPIs/FarolitoAPIs/.vs
/FarolitoAPIs/FarolitoAPIs/bin
/FarolitoAPIs/FarolitoAPIs/Logs
/FarolitoAPIs/FarolitoAPIs/appsettings.json
/FarolitoAPIs/.vs/FarolitoAPIs
/FarolitoAPIs/.vs
/PythonScripts/env